*{
	padding: 0;
	margin: 0;
}
html{
	background: #f9f9f9;
	background: url("../images/img4.jpg");
	background-size: 100% 100%;
}
body{
	width: 1200px;
	margin: 0 auto;
}
h1{
	text-align: center;
}
.register,.login,.userInfo{
	width: 270px;
	background: #ffffff;
	margin: 0 auto;
	opacity: .5;
	padding: 20px;
	height: 200px;
	font-size: 14px;
}
.register [type="button"],.login  [type="button"]{
	padding:5px 10px;
	background:green;
	color:#fff;
	font-size: 14px;
}
.register div,.login div{
	padding:10px;
	display: flex;
	justify-content: space-between;
}
.register a, .login a{
	padding: 0 20px;
	color: #003366;
	cursor: pointer;
}
.register p{
	font-size: 12px;
	color: red;
	width: 100%;
	text-align: center;
	line-height: 40px;
}
.nav{
	margin-bottom: 20px;
}
.nav ul{
	display: flex;
	justify-content: flex-start;
	height: 45px;
	padding-left: 30px;
}
.nav ul li{
	list-style-type: none;
	font-size: 16px;
	line-height: 45px;
	color: #f9f9f9;
	cursor: pointer;
	margin: 0 10px;
}
.nav ul li a{
	display: inline-block;
	height: 45px;
	padding: 0 10px;
	text-decoration-line: none;
	color: #ffffff;
}
.nav ul li a.active,.nav ul li a:hover{
	border-bottom: 1px solid green;
	color: green;
}

.content{
	display: flex;
	justify-content: space-between;
}
.content .main{
	width: 900px;
}

.content .main ul{
	width: 800px;
}
.content .main ul li{
	background:#ffffff;
	list-style-type: none;
	padding: 20px;
	margin-bottom: 20px;
}
.content .main ul li div{
	padding:10px 0;
}
.content .main ul li div span{
	color: blue;
	padding-right: 10px;
}
.all{
	text-decoration: none;
	padding:10px;
	display: inline-block;
	color:#fff;
	background: #ff9900;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.page{
	box-sizing: border-box;
	height: 50px;
	width: 800px;
	background: #ffffff;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	padding: 0 10px;
}
.page span,.page a{
	cursor: pointer; 
}

.info{
	box-sizing: border-box;
	width: 800px;
	background:#f9f9f9;
	min-height: 500px;
	padding: 20px;
	margin-bottom: 20px;
}
.info h3{
	font-size: 24px;
	text-align: center;
	line-height: 50px;
}
.info .user{
	text-align: right;
	line-height: 24px;
	font-size: 14px;
	color: #999999;
	border-bottom: 1px dashed #666666;
	margin-bottom:20px;
}
.info .user span{
	color: blue;
	padding-right: 10px;
}
.comment{
	box-sizing: border-box;
	padding: 20px;
	background: #ffffff;
	width: 800px;
	margin-bottom: 30px;
}
.comment h4{
	margin-bottom: 20px;
}
.comment textarea{
	box-sizing: border-box;
	font-size: 14px;
	padding: 20px;
	line-height: 30px;
	color: #666666;
	resize: none;
	width: 700px;
	margin-left:30px;
}
.comment .sub{
	display: flex;
	justify-content: flex-end;
}
