<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>nodeWeb</title>
	<link rel="stylesheet" href="/public/css/index.css">
	<script src="/public/js/jquery-3.3.1.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body>
	<h1> 欢迎光临我的博客</h1>
	<div class="register">
		<div>
			用户名：<input type="text" name="username">
		</div>
		<div>
			密码：<input type="password" name="password">
		</div>
		<div>
			确认密码：<input type="password" name="repassword">
		</div>
		
		<input type="button" value="注册">
		<a>点击登录</a>
		<p class=""></p>
	</div>
	<div class="login" style="display: none">
		<div>
			用户名：<input type="text" name="username">
		</div>
		<div>
			密码：<input type="password" name="password">
		</div>
		
		<input type="button" value="登录">
		<a>点击注册</a>

	</div>

</body>
</html>