{% extends "layout.html"%}

{% block content %}
<ul>
		{% for content in contents %}
		<li>
			<h3>{{content.title}}</h3>
			<div>
				类型：<span>{{content.entry.name}}</span>
				作者：<span>{{content.user.username}}</span>
				时间：<span>{{content.addTime|date("Y年m月d日 h:i:s",-8*60)}}</span>
				阅读量：<span>{{content.readNum}}</span>
				评论：<span>{{content.comments.length}}</span>
			</div>
			<div>
				{{content.contentSim}}
			</div>
			<a class="all" href="/info?contentId={{content.id}}">查看全文</a>
		</li>
		{% endfor %}
		
	</ul>
	<div class="page">
		
		{% if page<=1 %}
		<span>没有上一页了</span>
		{% else %}
		<a href="/?entry={{entry}}&page={{page-1}}">上一页</a>
		{% endif %}
		
		{% if pages==0 %}
		您选择的项目没有文章
		{% else %}
		{{page}}/{{pages}}
		{% endif %}
		

		{% if page>=pages %}
		<span>没有上一页了</span>
		{% else %}
		<a href="/?entry={{entry}}&page={{page+1}}">下一页</a>
		{% endif %}
		
	</div>
{% endblock%}